In [2]:
import numpy as np
import os
import pandas as pd
import datetime
import math

In [3]:
house_data = pd.read_csv("../preprocessed_data/oneHot_data.csv")

In [37]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,Day,HourofDay,...,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,Thermostat_Motion,Remote_Sensor_1_Temperature,Remote_Sensor_1_Motion,T_out,RH_out
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,0,11,0.330465,0.0,67.0,0.0,0.009112,1.808865
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,2,9,0.330465,0.0,67.0,0.0,0.009112,1.808865
2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,20,20,0.330465,0.0,67.0,0.0,0.009112,1.808865
3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,9,12,0.330465,0.0,67.0,0.0,0.009112,1.808865
4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,0,8,0.330465,0.0,67.0,0.0,0.009112,1.808865

In [38]:
house_data.columns

Index(['hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos',
       'Month', 'DayOfWeek', 'Day', 'HourofDay', 'HvacMode_heat', 'Event_Hold',
       'Event_None', 'Schedule_Away', 'Schedule_Home', 'Schedule_Sleep',
       'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan',
       'Thermostat_Temperature', 'Thermostat_Motion',
       'Remote_Sensor_1_Temperature', 'Remote_Sensor_1_Motion', 'T_out',
       'RH_out'],
      dtype='object')

In [39]:
house_data.drop(labels = ['HvacMode_heat', 'Event_Hold', 'Event_None', 'Schedule_Away', 'Schedule_Home', 'Schedule_Sleep', 
                          'Humidity', 'fan', 'Thermostat_Temperature', 'Thermostat_Motion', 'Remote_Sensor_1_Temperature', 
                          'Remote_Sensor_1_Motion'], axis = 1, inplace = True)

In [40]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,Day,HourofDay,T_ctrl,T_stp_heat,auxHeat1,T_out,RH_out
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,0.311691,0.663321,0,0.009112,1.808865
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,0.311691,0.663321,2,0.009112,1.808865
2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,0.311691,0.663321,20,0.009112,1.808865
3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,0.311691,0.663321,9,0.009112,1.808865
4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,0.311691,0.663321,0,0.009112,1.808865

In [41]:
weather_data_january = pd.read_csv("../Weather Data/en_climate_hourly_ON_6158731_01-2019_P1H.csv")

In [42]:
weather_data_january.drop(labels = ['Temp Flag', 'Dew Point Temp Flag', 'Rel Hum Flag', 'Wind Dir Flag', 'Wind Spd Flag', 
                                    'Visibility Flag', 'Stn Press Flag', 'Hmdx', 'Hmdx Flag', 'Wind Chill Flag', 'Weather', 
                                    'Longitude (x)', 'Latitude (y)', 'Station Name', 'Climate ID', 'Date/Time', 'Year'], 
                          axis = 1, inplace = True)

In [43]:
weather_data_january.isnull().sum()

Month                    0
Day                      0
Time                     0
Temp (Â°C)                0
Dew Point Temp (Â°C)      0
Rel Hum (%)              0
Wind Dir (10s deg)       0
Wind Spd (km/h)          0
Visibility (km)          0
Stn Press (kPa)          0
Wind Chill             133
dtype: int64

In [44]:
weather_data_january.head()

,Month,Day,Time,Temp (Â°C),Dew Point Temp (Â°C),Rel Hum (%),Wind Dir (10s deg),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Wind Chill
0,1,1,00:00,4.5,3.7,94,18,14,6.4,97.29,NaN
1,1,1,01:00,4.4,3.6,94,27,7,9.7,97.32,NaN
2,1,1,02:00,2.4,1.5,94,33,35,9.7,97.54,NaN
3,1,1,03:00,2.2,1.2,93,31,29,19.3,97.89,NaN
4,1,1,04:00,1.9,0.8,92,31,30,24.1,98.16,NaN

In [48]:
for i in range(len(weather_data_january)):
    weather_data_january.Time[i] = int(weather_data_january.Time[i].split(':')[0])

C:\Users\ankit\Anaconda3\envs\tensorflow-gpu\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
weather_data_january.head()

,Month,Day,Time,Temp (Â°C),Dew Point Temp (Â°C),Rel Hum (%),Wind Dir (10s deg),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Wind Chill
0,1,1,0,4.5,3.7,94,18,14,6.4,97.29,NaN
1,1,1,1,4.4,3.6,94,27,7,9.7,97.32,NaN
2,1,1,2,2.4,1.5,94,33,35,9.7,97.54,NaN
3,1,1,3,2.2,1.2,93,31,29,19.3,97.89,NaN
4,1,1,4,1.9,0.8,92,31,30,24.1,98.16,NaN

In [50]:
for i in range(len(weather_data_january)):
    if math.isnan(weather_data_january['Wind Chill'][i]):
        weather_data_january['Wind Chill'][i] = weather_data_january['Temp (Â°C)'][i]

C:\Users\ankit\Anaconda3\envs\tensorflow-gpu\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [51]:
weather_data_january.head()

,Month,Day,Time,Temp (Â°C),Dew Point Temp (Â°C),Rel Hum (%),Wind Dir (10s deg),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Wind Chill
0,1,1,0,4.5,3.7,94,18,14,6.4,97.29,4.5
1,1,1,1,4.4,3.6,94,27,7,9.7,97.32,4.4
2,1,1,2,2.4,1.5,94,33,35,9.7,97.54,2.4
3,1,1,3,2.2,1.2,93,31,29,19.3,97.89,2.2
4,1,1,4,1.9,0.8,92,31,30,24.1,98.16,1.9

In [52]:
weather_data_january.drop(labels = ['Temp (Â°C)', 'Dew Point Temp (Â°C)', 'Rel Hum (%)', 'Wind Dir (10s deg)', 'Visibility (km)'], 
                          axis = 1, inplace = True)

In [53]:
weather_data_january.head()

   Month  Day Time  Wind Spd (km/h)  Stn Press (kPa)  Wind Chill
0      1    1    0               14            97.29         4.5
1      1    1    1                7            97.32         4.4
2      1    1    2               35            97.54         2.4
3      1    1    3               29            97.89         2.2
4      1    1    4               30            98.16         1.9

In [34]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,Day,HourofDay,...,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,Thermostat_Motion,Remote_Sensor_1_Temperature,Remote_Sensor_1_Motion,T_out,RH_out
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,0,11,0.330465,0.0,67.0,0.0,0.009112,1.808865
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,2,9,0.330465,0.0,67.0,0.0,0.009112,1.808865
2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,20,20,0.330465,0.0,67.0,0.0,0.009112,1.808865
3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,9,12,0.330465,0.0,67.0,0.0,0.009112,1.808865
4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,1,0,...,0.663321,0.177458,0,8,0.330465,0.0,67.0,0.0,0.009112,1.808865